<link rel="stylesheet" href="stylesheets/ribbon.css" />
<div class="col-sm-6">
    
    <center>
        <img src="/images/<%= nickname %>3.png" class="img-responsive " style="height:400px">
    </center>

    <h1 class="ribbon">
		<strong class="ribbon-content"><%= name %><%= nickname %></strong>
		<strong class="ribbon-content"  style="font-family: '5012_tlu_infectionregular'; font-size: 30px;"><%= name %></strong>
	</h1>

</div>

<div class="col-sm-6">
    <p style="text-align:center; font-size: 35px; font-family: '5012_tlu_infectionregular';"><%= bio %></p>
    <h1 class="ribbon">
		<strong class="ribbon-content">start</strong>
	</h1>
</div>


<script>
    
</script>
