<center>
    <div id="gameWindows" class="col-sm-12">
        <center>
            <img id="back" src="/images/pl<%= im %>.jpg" class="img-responsive" alt="Mountain View">
            <img id="cha" src="/images/<%= name %><%= ch %>.png" class="img-responsive" alt="Mountain View">
        </center>
    </div>
    <div class="col-sm-12">
        <p id="ques">
            <%= dataq %>
        </p>
    </div>
    <div class="col-sm-12">
        <button class="btn btn-info" onclick="send(1)">
                  <%= c1 %>
                </button>
        <button class="btn btn-info" onclick="send(2)">
                  <%= c2 %>
                </button>
        <button class="btn btn-info" onclick="send(3)">
                  <%= c3 %>
                </button>
        <button class="btn btn-info" onclick="send(4)">
                  <%= c4 %>
                </button>
    </div>
</center>
<style>
    #gameWindows {
        position: relative;
    }

    #back {
        z-index: 0;
        height: 500px;
    }

    #cha {
        position: absolute;
        left: 35%;
        top: 0px;
        height: 500px;
        z-index: 1;
    }

    #ques {
        border: 5px solid #ba89b6;
        background-color: #f0f0f0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: "5012_tlu_infectionregular";
        font-size: 40px;
    }
</style>
<script>
    function send(c) {
        choice[nowQuestion - 1] = c;
        if (nowQuestion >= 5) {
            for (i = 0; i < 5; i++) {
                console.log(choice[i]);
            }
            changePage('http://localhost:3000/result?name=<%= name %>&c1=' + choice[0] + '&c2=' + choice[1] + '&c3=' + choice[2] + '&c4=' + choice[3] + '&c5=' + choice[4], 'get', 'text');
        } else {
            nowQuestion++;
            changePage('http://localhost:3000/question?name=<%= name %>&c=' + nowQuestion, 'get', 'text');
        }

    }
</script>

</script>
