<!-- <%= dataq %>
    <%= c1 %>
        <%= c2 %>
            <%= c3 %>
                <%= c4 %> -->
<!-- <script>
    // nowQuestion = nowQuestion++;
    // changePage('http://localhost:3000/question?name', 'get', 'text');
</script> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mating season</title>
    <script src="javascripts/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/flametext.css" />
    <script src="javascripts/flametext.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/myScript.js"></script>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='font/stylesheet.css' />
    <style>
        .bag {
            background-color: #ff6699;
        }

        body {
            background-color: #ff6699;
        }

        #start,
        #howTo {
            font-family: '5012_tlu_infectionregular';
        }
    </style>
</head>

<body>

</body>

</html>
